<% include partials/header.ejs%>
    <!--main content-->
    <main class="container">
        <h1>ABOUT ME</h1><br><br>
        <PRE ALIGN="CENTER">
           A COMPUTER SCIENCE GRADUATED INDIVIDUAL WITH KEEN INTEREST IN CODING,
           I WANTED TO EXPAND MY CODING PRACTISES.
           PRESENTLY PURSUING AN ADVANCE DIPLOMA IN SOFTWARE ENGINEERING TECHNOLOGY.
           A DIPLOMA FROM CENTENNIAL COLLEGE HAS BEEN AN ADDED ASSET TO MY RESUME.
           HAVING PRACTISING PROGRAMMING FROM GRADUATION HAS MADE ME AN EFFICIENT
           PRORAMMER.
          
           POSSESSING GOOD KNOWLEDGE IN ANDROID, JAVA, WEB DEVELOPMENT,MYSQL etc.
           GOOD HANDS ON EXPIRENCE ON CODING PRACTISES AND 
           HAVING A GOOD ACADEMIC GRADES I FIND MYSELF AN ORGANISATION READY PROGRAMMER.
           MY KNOWLEDGE AND EXPERIENCE WOULD ALWAYS BE USEFUL 
           FOR THE BENEFIT OF THE ORGANISATION AND TO ENHANCE MY OWN EXPERIENCE.   
        </PRE><br><br><br>
        <i class="fa fa-facebook-official">              Shruthi Kp</i><br><br>
        <i class="fa fa-google">                sruthi1020s@gmail.com</i>
    </main>
<% include partials/footer.ejs%>
   