<% include partials/header.ejs%>
    <!--main content-->
    <main class="container">
        <h1>ABOUT ME</h1>
        <P ALIGN="CENTER">
           A COMPUTER SCIENCE GRADUATED INDIVIDUAL WITH KEEN INTEREST IN CODING, I WANTED TO EXPAND MY CODING PRACTISES.PRESENTLY PURSUING AN ADVANCE DIPLOMA IN SOFTWARE ENGINEERING TECHNOLOGY.
           A DIPLOMA FROM CENTENNIAL COLLEGE HAS BEEN AN ADDED ASSET TO MY RESUME.HAVING PRACTISING PROGRAMMING FROM MY GRADUATION HAS MADE ME AN EFFICIENT PRORAMMER.
           POSSESSING GOOD KNOWLEDGE IN ANDROID, JAVA, WEB DEVELOPMENT,MYSQL etc.HAVING GOOD HANDS ON EXPIRENCE ON CODING PRACTISES AND HAVING A GOOD ACADEMIC GRADES I FIND MYSELF AN ORGANISATION READY PROGRAMMER.
           MY KNOWLEDGE AND EXPERIENCE WOULD ALWAYS BE USEFUL FOR THE BENEFIT OF THE ORGANISATION AND TO ENHANCE MY OWN EXPERIENCE.
           
        </P>
    </main>
<% include partials/footer.ejs%>
   