<% include partials/header.ejs%>
    <!--main content-->
    <main class="container">
        <h1><%= title %></h1><BR><BR><BR>
        <p>
            
           <H1> COMP301 ASSIGNMENT1:CAREER PORTFOLIO DEVELOPMENT</H1>
            <H2><PRE>
            NAME: SRUTHI KUPPA
            STUDENT NUMBER: 300824235
            </PRE></H2>
        </p>
    </main>
<% include partials/footer.ejs%>
   