<% include partials/header.ejs%>
    <!--main content-->
    <main class="container">
        <H1>MY PROJECTS</H1>
        <h3>CHECK MY PROJECTS COMPLETED SO FAR</h3><BR><BR>
        <pre>
             THE PROJECTS I SUCCESSFULLY COMPLETED ARE:
             <B>"PERSONAL FINANCE MANAGER"</B> ....AT MY GRADUATION LEVEL
             <B>"GPA CALCULATOR"</B>....AT ADVANCE DIPLOMA LEVEL
             FEW OTHER WEB SITES THAT I DESIGNED FOR MY COURSE GRADES.             
        </pre>
    </main>
<% include partials/footer.ejs%>
   