<% include partials/header.ejs%>
    <!--main content-->
    <main class="container">
        <h1>CHECK MY PROJECTS COMPLETED SO FAR</h1>
        <p>THE PROJECTS I SUCCESSFULLY COMPLETED ARE:
             "PERSONAL FINANCE MANAGER"- AT MY GRADUATION LEVEL
             "GPA CALCULATOR"- IN MY ADVANCE DIPLOMA LEVEL
             FEW OTHER WEB SITES THAT I DESIGNED FOR MY COURSE GRADES.             
        </p>
    </main>
<% include partials/footer.ejs%>
   