<% include partials/header.ejs%>
    <!--main content-->
    <main class="container">
        <h1>MY SERVICES</h1>
        <p>I HAVE BEEN AN ACTIVE PARTICIPANT IN MANY EVENTS AND QUIZESS AT SCHOOL AND HIGH SCHOOL.
            ALSO HAVE GOOD NUMBER OF CERTIFICATES FOR PARTICIPATION AND EVEN BEING A WINNER IN FEW.
            BEING AN OUTGOING AND ACTIVE STUDENT I HAVE VOLUNTEERED IN MANY EVENTS,COMPETITIONS,ETC.           
        </p>
    </main>
<% include partials/footer.ejs%>
   