/* my own custom css file*/
body {
    background-color: #00FFFF;
}
h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
   
}

p{
    font-family: "Times New Roman", Times, sans-serif;
   font-style: oblique;  
   font-size: 30px;   
}
pre{
    font-family: "Times New Roman", Times, sans-serif;
   font-style: oblique;  
   font-size: 23px;  
     background-color:#D8F781;
}
div{
    
     background-color:#00FA9A;
}